{% extends "base.html" %}

{% block content %}
    <h1>Добавление класса</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name_class.label }}<br>
            {{ form.name_class(class="form-control") }}<br>
            {% for error in form.name_class.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.teachers.label }}<br>
            {{ form.teachers(class="form-control") }}<br>
            {% for error in form.teachers.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}