{% extends "base.html" %}

{% block content %}
    <h1>Редактирование данных ученика</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.value.label }}<br>
            {{ form.value(class="form-control") }}<br>
            {% for error in form.value.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
        <a class="btn btn-primary" role="button" href="/viewpupil">Вернуться обратно</a>
    </form>
{% endblock %}